@model IEnumerable<SolicitudesDanielaHernandez.Models.Solicitud>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="~/css/style-sheet.css" />
</head>
<body>
    <h1>Solicitudes de Inscripcion</h1>
    <a asp-action="FormSolicitud">Enviar Solicitud de Ingreso</a>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Identificacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Edad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Casa)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Casa)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SolicitudId">Actualizar Solicitud de Ingreso</a> |
                            <a asp-action="Delete" asp-route-id="@item.SolicitudId">Eliminar Solictud de Ingreso</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>